<a href="https://colab.research.google.com/github/bsivavenu/Machine-Learning/blob/master/speed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
os.getcwd()

'/content'

In [0]:
data = pd.read_csv('Speed_dataset.csv')

In [9]:
data.head()

,latitude,longitude,timestamp,speed_mph,speedlimit_mph,functionalClass,controlledAccess,isHighway,state,vehicle_id,driver_id
0,34.640141,-77.938721,6/1/2015 0:04,64,70,2,Y,1,NC,1208979,5693
1,34.643730,-77.939400,6/1/2015 0:04,64,70,2,Y,1,NC,1208979,5693
2,34.551254,-78.784630,6/1/2015 0:04,1,55,4,N,1,NC,1262441,916461
3,35.613663,-78.470596,6/1/2015 0:06,62,70,2,Y,1,NC,1280223,1145487
4,35.614525,-78.474670,6/1/2015 0:06,61,70,2,Y,1,NC,1280223,1145487

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343628 entries, 0 to 343627
Data columns (total 11 columns):
latitude            343628 non-null float64
longitude           343628 non-null float64
timestamp           343628 non-null object
speed_mph           343628 non-null int64
speedlimit_mph      343628 non-null int64
functionalClass     343628 non-null int64
controlledAccess    343628 non-null object
isHighway           343628 non-null int64
state               343628 non-null object
vehicle_id          343628 non-null int64
driver_id           343628 non-null int64
dtypes: float64(2), int64(6), object(3)
memory usage: 28.8+ MB

In [11]:
data.describe()

,latitude,longitude,speed_mph,speedlimit_mph,functionalClass,isHighway,vehicle_id,driver_id
count,343628.000000,343628.000000,343628.000000,343628.000000,343628.000000,343628.000000,3.436280e+05,3.436280e+05
mean,35.504742,-78.495537,38.176129,54.442391,3.040398,0.683640,8.401167e+05,5.650171e+05
std,0.794903,0.910243,24.945979,10.014904,1.368529,0.465056,5.027187e+05,5.193492e+05
min,33.318760,-84.402771,1.000000,20.000000,0.000000,0.000000,1.429000e+03,0.000000e+00
25%,35.005116,-78.926933,10.000000,45.000000,2.000000,0.000000,5.350240e+05,3.871900e+04
50%,35.531018,-78.458893,44.000000,55.000000,3.000000,1.000000,6.179890e+05,4.662930e+05
75%,35.794942,-78.122360,64.000000,65.000000,4.000000,1.000000,1.207151e+06,1.144565e+06
max,38.641785,-75.599670,79.000000,70.000000,5.000000,1.000000,1.889852e+06,1.393454e+06

In [12]:
data.isnull().sum()

latitude            0
longitude           0
timestamp           0
speed_mph           0
speedlimit_mph      0
functionalClass     0
controlledAccess    0
isHighway           0
state               0
vehicle_id          0
driver_id           0
dtype: int64

In [14]:
unike_vehicles = data['vehicle_id'].unique()
unike_vehicles

array([1208979, 1262441, 1280223,  550280,  534766,  567435,  550764,
          1444,  550766, 1280225,   88250,    1462,  530030, 1207169,
       1207151,  535412,  550768,  535024, 1434981, 1171979, 1173169,
        118302, 1191293,  567437,  550272, 1173291,  564509,   90560,
       1171973,   88697,  528890,  528616, 1351613, 1202269,  617989,
        567067,  118303,    1463, 1190543, 1208431,    1441, 1191485,
        607681, 1191353, 1329841,  565771, 1828709, 1827931, 1828847,
          1429, 1830679, 1842323, 1843499, 1845975, 1846883,    1435,
       1849075, 1850001, 1840735, 1853977, 1851601, 1827821, 1889852])

In [15]:
len(unike)

63

In [16]:
unike_drivers = data['driver_id'].unique()
unike_drivers

array([   5693,  916461, 1145487,  500201,       0,    4276,  342321,
        466293,    5687,  991329,  213257,    4278, 1159791,   38719,
         55563,   54397, 1065377,  524221,  714485,    4284,   39251,
         41136,  812033,   65743, 1091309,  732669,    2132,    8459,
          6534,    4287, 1200561,  884137, 1159793,  882873,   40451,
         21436,  322085, 1082201,  183927,  406943, 1200557,   40450,
       1163791,  997291, 1163537, 1149035,  992205,    4282,  995637,
         14675,   41355,   11327,   12426,   85991, 1144565,  862543,
        814935,  509431, 1222453, 1235549, 1246883, 1256913, 1250535,
       1265441, 1272718, 1288064,  295715, 1297397, 1297409, 1297407,
       1297401, 1297403, 1305549, 1297399,   11914, 1297405, 1312663,
       1296079, 1309177, 1370081, 1381750, 1308317, 1393454])

In [17]:
len(unike_drivers)

83

In [18]:
len(data['driver_id'].duplicated())

343628

In [22]:
data.columns

Index(['latitude', 'longitude', 'timestamp', 'speed_mph', 'speedlimit_mph',
       'functionalClass', 'controlledAccess', 'isHighway', 'state',
       'vehicle_id', 'driver_id'],
      dtype='object')

In [24]:
data.state.value_counts()

NC    298510
VA     31980
SC     12759
GA       379
Name: state, dtype: int64

In [29]:
data['speed_mph'].describe()

count    343628.000000
mean         38.176129
std          24.945979
min           1.000000
25%          10.000000
50%          44.000000
75%          64.000000
max          79.000000
Name: speed_mph, dtype: float64

In [30]:
data[data['speed_mph']>=79]

,latitude,longitude,timestamp,speed_mph,speedlimit_mph,functionalClass,controlledAccess,isHighway,state,vehicle_id,driver_id
243320,37.144806,-80.390457,10/11/2015 20:39,79,65,2,Y,1,VA,118303,0
267415,37.192581,-80.274391,10/22/2015 16:38,79,65,1,Y,1,VA,118303,0
325927,37.703476,-79.462105,11/20/2015 15:46,79,70,1,Y,1,VA,118303,0

In [31]:
data.functionalClass.value_counts()

4    83983
2    76635
3    62147
5    62068
1    58783
0       12
Name: functionalClass, dtype: int64

In [38]:
data[data['isHighway']==0].state.value_counts()

NC    98987
VA     6459
SC     3238
GA       26
Name: state, dtype: int64

In [39]:
data[data['isHighway']==1].state.value_counts()

NC    199523
VA     25521
SC      9521
GA       353
Name: state, dtype: int64