The main parameters to adjust when using these methods is **n_estimators and max_features.** The former
is the number of trees in the forest. The larger the better. The results will stop getting significantly better beyond a critical number of trees. max_features is the size of the random subsets of features to consider when splitting a node. The lower the greater the reduction of variance, but also the greater the increase in bias. Empirical good default values are **max_features=n_features for regression problems, and max_features=sqrt(n_features) for classification tasks** (where n_features is the number of features in the data). Good results are often achieved when setting **max_depth=None in combination
with min_samples_split=1 (i.e., when fully developing the trees).**

In [20]:
from sklearn.ensemble import RandomForestClassifier,ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_blobs
from sklearn.model_selection import cross_val_score
import pandas as pd

In [21]:
# make_blobs()
X,y = make_blobs(n_samples=10000,n_features=10,centers=100,random_state=0)
X.shape,y.shape

((10000, 10), (10000,))

In [22]:
df = pd.DataFrame(X)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,6.469076,4.250703,-8.636944,4.044785,9.017254,4.535872,-4.670276,-0.481728,-6.449961,-2.659850
1,6.488564,9.379570,10.327917,-1.765055,-2.068842,-9.537790,3.936380,3.375421,7.412737,-9.722844
2,8.373928,-10.143423,-3.527536,-7.338834,1.385557,6.961417,-4.504456,-7.315360,-2.330709,6.440872
3,-3.414101,-2.019790,-2.748108,4.168691,-5.788652,-7.468685,-1.719800,-5.302655,4.534099,-4.613695
4,-1.330023,-3.725465,9.559999,-6.751356,-7.407864,-2.131515,1.766013,2.381506,-1.886568,8.667311

In [23]:
dt = DecisionTreeClassifier(max_depth=None,min_samples_split=2,random_state=0)
score = cross_val_score(dt,X,y)
score.mean()

0.97940879382055857

In [24]:
rf = RandomForestClassifier(n_estimators=10,max_depth=None,min_samples_split=2,random_state=0)
score = cross_val_score(rf,X,y)
score.mean()

0.99960784313725493

In [25]:
etc = ExtraTreesClassifier(n_estimators=10,max_depth=None,min_samples_split=2,random_state=0)
score = cross_val_score(etc,X,y)
score.mean()

0.99989898989898995

incomplete