In [1]:
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 500

In [2]:
train = pd.read_csv('c:/Users/HP/Desktop/zilllow/train_2016_v2.csv')
# properties = pd.read_csv('c:/Users/HP/Desktop/zilllow/properties_2016.csv',engine='python',header=None,nrows = 500)

In [38]:
train.shape

(90275, 3)

In [ ]:
reader = pd.read_csv('c:/Users/HP/Desktop/zilllow/properties_2016.csv')

C:\Users\HP\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
reader.

AttributeError: 'TextFileReader' object has no attribute 'shape'

In [26]:
# for i in range(3):
%time reader.get_chunk(5)
#     i+=1

Wall time: 8 ms

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
100000,13967756,NaN,NaN,NaN,3.0,3.0,NaN,NaN,3.0,NaN,NaN,1932.0,1932,NaN,NaN,NaN,NaN,6059,NaN,3,2,440,NaN,NaN,33734476,-117975757,7203.0,NaN,NaN,NaN,NaN,NaN,122,261,NaN,6.059100e+07,34780,1286,NaN,96990,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1967.0,1,NaN,127339.0,405806.0,2015,278467.0,4903.02,NaN,NaN,60590997032014
100001,13967971,NaN,NaN,NaN,2.5,5.0,NaN,NaN,2.5,NaN,NaN,2152.0,2152,NaN,NaN,NaN,NaN,6059,NaN,2,2,460,NaN,NaN,33731427,-117975679,6076.0,NaN,NaN,NaN,NaN,NaN,122,261,NaN,6.059100e+07,34780,1286,NaN,96990,9.0,NaN,1.0,NaN,NaN,NaN,NaN,1971.0,2,NaN,72048.0,106041.0,2015,33993.0,1676.78,NaN,NaN,60590997032027
100002,13968409,NaN,NaN,NaN,3.0,4.0,NaN,NaN,3.0,NaN,NaN,2281.0,2281,NaN,NaN,NaN,NaN,6059,1.0,3,2,489,NaN,NaN,33743582,-117981450,6282.0,NaN,NaN,NaN,NaN,NaN,122,261,NaN,6.059100e+07,34780,1286,NaN,96990,8.0,NaN,NaN,NaN,NaN,NaN,NaN,1974.0,2,NaN,74608.0,92992.0,2015,18384.0,1636.68,NaN,NaN,60590997023014
100003,13968555,NaN,NaN,NaN,3.0,4.0,NaN,NaN,3.0,NaN,NaN,2281.0,2281,NaN,NaN,NaN,NaN,6059,NaN,3,2,489,NaN,NaN,33737753,-117980361,6313.0,NaN,NaN,NaN,NaN,NaN,122,261,NaN,6.059100e+07,34780,1286,NaN,96990,8.0,NaN,NaN,NaN,NaN,NaN,NaN,1975.0,2,NaN,181161.0,392592.0,2015,211431.0,4945.38,NaN,NaN,60590997023035
100004,13968793,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,NaN,NaN,1700.0,1700,NaN,NaN,NaN,NaN,6059,NaN,2,2,440,NaN,NaN,33729699,-117973265,6026.0,NaN,NaN,NaN,NaN,NaN,122,261,NaN,6.059099e+07,34780,1286,NaN,96990,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1976.0,1,NaN,114237.0,510009.0,2015,395772.0,6098.70,NaN,NaN,60590992411010

In [94]:
from sklearn.preprocessing import LabelEncoder

In [95]:
for c in chunk.columns:
    chunk[c]=chunk[c].fillna(-1)
    if chunk[c].dtype == 'object':
        lbl = LabelEncoder()
        lbl.fit(list(chunk[c].values))
        chunk[c] = lbl.transform(list(chunk[c].values))